<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mymy, Dev.</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#000">
        <meta name="msapplication-TileColor" content="#000">
        <link rel="icon" href="/logo.png">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>