.terminal {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-y: scroll;
    height: 200px;
    padding: 8px;
    color: #ccc;
    background: #212121;
}
