.container {
    display: flex;
    height: 100%;
}

.side {
    display: flex;
    height: 100%;

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #2a2a2a;
        color: #bababa;
        width: 48px;
        font-size: 28px;

        .top, .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                cursor: pointer;
                margin: 8px;

                &:hover {
                    color: #eee;
                }
            }
        }
    }

    .directory {
        background: #ccc;
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 48px);

    :global(.CodeMirror) {
        flex: 1;
    }

    .tools {
        border-top: 1px solid #363636;
        background: #212121;
        padding: 8px;

        select, button {
            font-size: 14px;
            background: #212121;
            border: none;
            color: #ccc;
        }

        button:hover {
            border-bottom: 1px solid #8e44ad;
        }
    }

    .terminal {
        font-family: Menlo, Monaco, 'Courier New', monospace;
        white-space: pre-wrap;
        word-break: break-all;
        overflow-y: scroll;
        height: 200px;
        padding: 8px;
        color: #ccc;
        background: #212121;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        background: #fff;
        color: #fff;
        background: #8e44ad;

        div {
            padding: 4px 12px;
        }
    }
}