.context-menu, .context-menu-sub {
  position: absolute;
  z-index: 1000;
  background-color: #333;
  min-width: 200px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  list-style: none;

  :not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .context-menu-item {
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #444;
    }

    &.sub-menu {
      &::before {
        content: '>';
        display: block;
        position: absolute;
        right: 16px;
        font-weight: bold;
        font-size: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
      }
    }
  }
}
