<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#333">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://rawcdn.githack.com/nzbin/three-dots/c592f34f85813ce75b9bc984b1bafcea3cb39b37/dist/three-dots.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/static/logo.png" rel="icon">
    {% block stylesheet %}{% endblock %}
</head>

<body>
    <div id="loading"></div>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block script %}{% endblock %}
</body>

</html>