{% extends "base.html" %}

{% block title %}Code Runner{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/ide-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css">
    <link rel="stylesheet" href="/static/lib/codemirror/theme/material-darker.css">
    <style>
        .CodeMirror {
            height: 75vh;
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block content %}
    <textarea name="code" class="code-area brush:cpp" id="source"></textarea>
	<button class="code-btn" type="button" onclick="IDE.c()">C</button>
    <button class="code-btn" type="button" onclick="IDE.cpp()">C++</button>
    <button class="code-btn" type="button" onclick="IDE.rs()">Rust</button>
    <button class="code-btn" type="button" onclick="IDE.py3()">Python3</button>
    <button class="code-btn" type="button" onclick="IDE.js()">JavaScript</button>
    <button class="code-btn" type="button" onclick="IDE.ts()">TypeScript</button>
    <div class="code-console" id="result"></div>
    <div class="code-footer">Copyright 2020 &copy; BaeJino.</div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="/static/lib/codemirror/mode/javascript.js"></script>
    <script src="/static/js/ide.js"></script>
{% endblock %}