.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background: #fff;
    color: #fff;
    background: #8e44ad;

    a {
        color: #fff;
    }

    div {
        padding: 4px 12px;
    }
}